<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

  <nav>
    <a href="/">Início</a>
    <a href="/pagina1">Página 1</a>
    <a href="/pagina2">Página 2</a>
  </nav>

  <main>
    <%- body %>
  </main>

</body>
</html>
