<%- include('partials/header') %>
<h2>Sobre</h2>
<p>Uma página simples "Sobre". Aqui você pode colocar informações sobre o site ou a pessoa/empresa.</p>
<p><a href="/">Voltar para a Home</a></p>
<%- include('partials/footer') %>       