<%- include('partials/header') %>


<h2>Contate seu vovo aqui</h2>

<form action="/" method="get">
<label>Nome: <input type="text" name="nome"></label><br>
<label>Mensagem: <textarea name="mensagem"></textarea></label><br>
<button type="submit">Enviar (exemplo)</button>
</form>


<p><a href="/">Voltar</a></p>


<%- include('partials/footer') %>