<%- include('partials/header') %>


<h2>Bem-vindo à página inicial</h2>
<p>Esta é a home. Use os links do menu para navegar entre páginas (cada link aponta para uma rota GET que renderiza a view correspondente).</p>


<ul>
<li><a href="/about">Ir para Sobre</a></li>
<li><a href="/products">Ver Produtos</a></li>
<li><a href="/contact">Entrar em contato</a></li>
</ul>


<%- include('partials/footer') %>